.kamatoc-wrap{ clear: both; }
.kamatoc-wrap__title{ display: block; font-style: italic; padding: 1em 0; }
.kamatoc-gotop{ display: block; text-align: right; }
.kamatoc-anchlink{ color: #ddd!important; position: absolute; margin-left: -1em; }
